.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  gap: 3rem;
  min-height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form input,
.form select,
.form button {
  border-radius: 5px;
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
}
